<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Gestion De Datos</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container" align="center" style="margin-top: 20px">
    <h1 style="margin-top: 10px">Sistema Veterinaria</h1>
    <h2>Productos</h2>
    <br/>
    <br/>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraTabla">Consultar Producto</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraIngreso">Ingresar Producto</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraEditar">Editar Producto</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraEliminar">Eliminar Producto</button>

    <br/>


    <h4 id="eliminarLabel" style="display:none;margin-top: 10px">Seleccione Producto a eliminar</h4>

    <div id="ingresarDiv" style="display:none;margin-top: 15px">
        <h3>Ingresar nuevo Producto</h3>
        <form th:object="${ProductoForm}" th:action="@{/api/v1/productos}" method="POST">
            <div class="input-group mb-3" style="width: 90%;margin-top: 15px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="categoriaLabel" style="width: 120px">Categoria</span>
                        <select class="custom-select" id="categoria" name="categoria">
                            <option th:each="catOpt : ${T(com.jpulido.veterinaria.modelo.dao.enums.CategoriaProducto).values()}"
                                    th:value="${catOpt}" th:text="${catOpt}"></option>
                        </select>
                </div>

                <span style="width: 20px"></span>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="descripcionLabel" style="width: 120px">Descripcion</span>
                </div>
                <input style="width: 35%" type="text" class="form-control" aria-label="Default" aria-describedby="descripcionLabel"
                       id="descripcion" name="descripcion">
                <span style="width: 20px"></span>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="precioLabel" style="width: 80px">Precio</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="precioLabel"
                       id="precio" name="precio">
            </div>
            <input class="btn btn-outline-dark btn-lg" type="submit" value="Ingresar"/>
        </form>
    </div>

    <div id="editarDiv" style="display:none">
        <h3>Editar un Producto</h3>
        <h4 style="margin-top: 10px">Seleccione Producto a Editar</h4>
        <form th:object="${ProductoForm}" >
            <div class="input-group mb-3" style="width: 90%;margin-top: 15px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="categoriaEditLabel" style="width: 120px">Categoria</span>
                    <select class="custom-select" id="categoriaEdit" name="categoria">
                        <option th:each="catOpt : ${T(com.jpulido.veterinaria.modelo.dao.enums.CategoriaProducto).values()}"
                                th:value="${catOpt}" th:text="${catOpt}"></option>
                    </select>
                </div>

                <span style="width: 20px"></span>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="descripcionEditLabel" style="width: 120px">Descripcion</span>
                </div>
                <input style="width: 35%" type="text" class="form-control" aria-label="Default" aria-describedby="descripcionLabel"
                       id="descripcionEdit" name="descripcion">
                <span style="width: 20px"></span>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="precioEditLabel" style="width: 80px">Precio</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="precioLabel"
                       id="precioEdit" name="precio">
            </div>
        </form>
        <button id="accionEditar" class="btn btn-outline-dark btn-lg" style="margin-top: 10px">Editar
        </button>
    </div>

    <div id="consultarDiv" style="display:none">
        <h4 style="margin-top: 15px">Ingrese Nombre del Producto</h4>
        <form>
            <div class="input-group mb-3" style="width: 20%">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Search" id="searchId"
                       name="searchId" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="buscarProductoById()">Buscar</button>
                </div>
            </div>
            <div style="margin-top: 15px" id="resultsBlock">

            </div>
        </form>
    </div>

    <h4 id="errorNoSeleccion" style="color: #b71824;display: none">Por favor, seleccione un elemento</h4>
    <h4 id="errorNoInput" style="color: #b71824;display: none">Por favor, ingrese un ID</h4>
    <button id="accionEliminar" class="btn btn-outline-dark btn-lg" style="display:none;margin-top: 10px">Eliminar
    </button>

    <br/>
    <div id="ProductosDatablock" style="margin-top: 10px;margin-bottom: 50px">
        <table class="table" id="ProductosDatatable" style="cursor: pointer">
            <thead class="thead-dark" align="center">
            <tr>
                <th style="width: 10%">Id</th>
                <th style="width: 33.33%">Categoria</th>
                <th style="width: 33.33%">Descripcion</th>
                <th style="width: 33.33%">Precio</th>
            </tr>
            </thead>
            <tbody align="center" style="cursor: pointer">
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.id}">Id</td>
                <td th:text="${producto.categoria}">Categoria</td>
                <td th:text="${producto.descripcion}">Descripcion</td>
                <td th:text="${producto.precio}">Precio</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

<script src="jquery/producto.js"></script>
<script src="jquery/managerBotones.js"></script>
</body>
</html>