<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion De Datos</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container" align="center" style="margin-top: 20px">
    <h1 style="margin-top: 10px">Sistema Veterinaria</h1>
    <h2>Turnos</h2>
    <br/>
    <br/>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraTabla">Consultar Turno</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraIngreso">Ingresar<br>Turno</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraEditar">Editar<br>Turno</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraEliminar">Eliminar<br>Turno</button>

    <br/>
    <div id="error" style="display:none" class="alert alert-danger">
        Parametros incorrectos.
    </div>

    <h4 id="eliminarLabel" style="display:none;margin-top: 10px">Seleccione Turno a eliminar</h4>

    <div id="ingresarDiv" style="display:none;margin-top: 15px">
        <h3>Ingresar nuevo Turno</h3>
        <form th:object="${TurnoForm}">
            <div class="input-group mb-3" style="width: 90%;margin-top: 15px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="veterinarioLabel" style="width: 100px">Veterinario</span>
                </div>
                <select class="custom-select" id="veterinario" name="veterinario">
                    <option selected>Elegir</option>
                    <option style="background: white"
                            th:each="veterinario : ${veterinarios}"
                            th:value="${veterinario.usuario}"
                            th:text="${veterinario.usuario}"></option>
                </select>
                <span style="width: 20px"></span>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="fechaLabel" style="width: 80px">Fecha</span>
                </div>
                <input style="width: 110px" type="date" class="form-control" aria-label="Default"
                       aria-describedby="fechaLabel" id="fecha" name="fecha">
                <span style="width: 20px"></span>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="horaLabel" style="width: 80px">Hora</span>
                </div>
                <input style="width: 80px" type="time" step="1800" min="09:00" max="18:00"  class="form-control" aria-label="Default"
                       aria-describedby="horaLabel" id="hora" name="hora">

                <span style="width: 20px"></span>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="animalLabel" style="width: 120px">Tipo animal</span>
                </div>
                <select class="custom-select" id="animal" name="animal">
                    <option selected>Elegir</option>
                    <option style="background: white"
                            th:each="animal : ${T(com.jpulido.veterinaria.modelo.dao.enums.Animal).values()}"
                            th:value="${animal}"
                            th:text="${animal}"></option>
                </select>
                <span style="width: 20px"></span>
                <span></span>
                <div class="input-group mb-3" style="width: 95%;margin-top: 15px">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="nombreMascotaLabel" style="width: 150px">Nombre Mascota</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="nombreMascotaLabel"
                           id="nombreMascota" name="nombreMascota">
                    <span style="width: 20px"></span>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="nombreDuenioLabel" style="width: 140px">Nombre Dueño</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="nombreDuenioLabel"
                           id="nombreDuenio" name="nombreDuenio">
                    <span style="width: 20px"></span>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="numeroContactoLabel" style="width: 160px">Numero Contacto</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="numeroContactoLabel"
                           id="numeroContacto" name="numeroContacto">
                </div>
            </div>
        </form>
        <button type="submit" id="accionIngresar" class="btn btn-outline-dark btn-lg" style="margin-top: 10px">Ingresar</button>
    </div>

    <div id="editarDiv" style="display:none">
        <h3>Editar un Turno</h3>
        <h4 style="margin-top: 10px">Seleccione Turno a Editar</h4>
        <form th:object="${TurnoForm}" >
            <div class="input-group mb-3" style="width: 90%;margin-top: 15px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="veterinarioEditLabel" style="width: 100px">Veterinario</span>
                </div>
                <select class="custom-select" id="veterinarioEdit" name="veterinario">
                    <option selected>Elegir</option>
                    <option style="background: white"
                            th:each="veterinario : ${veterinarios}"
                            th:value="${veterinario.usuario}"
                            th:text="${veterinario.usuario}"></option>
                </select>
                <span style="width: 20px"></span>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="fechaEditLabel" style="width: 80px">Fecha</span>
                </div>
                <input style="width: 110px" type="date" class="form-control" aria-label="Default"
                       aria-describedby="fechaEditLabel" id="fechaEdit" name="fecha">
                <span style="width: 20px"></span>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="horaEditLabel" style="width: 80px">Hora</span>
                </div>
                <input style="width: 80px" type="time" step="1800" min="09:00" max="18:00" class="form-control" aria-label="Default"
                       aria-describedby="horaEditLabel" id="horaEdit" name="hora">

                <span style="width: 20px"></span>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="animalEditLabel" style="width: 120px">Tipo animal</span>
                </div>
                <select class="custom-select" id="animalEdit" name="animal">
                    <option selected>Elegir</option>
                    <option style="background: white"
                            th:each="animal : ${T(com.jpulido.veterinaria.modelo.dao.enums.Animal).values()}"
                            th:value="${animal}"
                            th:text="${animal}"></option>
                </select>
                <span style="width: 20px"></span>
                <span></span>
                <div class="input-group mb-3" style="width: 95%;margin-top: 15px">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="nombreMascotaEditLabel" style="width: 150px">Nombre Mascota</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="nombreMascotaEditLabel"
                           id="nombreMascotaEdit" name="nombreMascota">
                    <span style="width: 20px"></span>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="nombreDuenioEditLabel" style="width: 140px">Nombre Dueño</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="nombreDuenioEditLabel"
                           id="nombreDuenioEdit" name="nombreDuenio">
                    <span style="width: 20px"></span>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="numeroContactoEditLabel" style="width: 160px">Numero Contacto</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="numeroContactoEditLabel"
                           id="numeroContactoEdit" name="numeroContacto">
                </div>
            </div>
        </form>
        <button id="accionEditar" class="btn btn-outline-dark btn-lg" style="margin-top: 10px">Editar
        </button>
    </div>

    <div id="consultarDiv" style="display:none">
        <h4 style="margin-top: 15px">Ingrese ID</h4>
        <form>
            <div class="input-group mb-3" style="width: 20%">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Search" id="searchId"
                       name="searchId" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="buscarTurnoById()">Buscar</button>
                </div>
            </div>
            <div style="margin-top: 15px" id="resultsBlock">

            </div>
        </form>
    </div>

    <h4 id="errorNoSeleccion" style="color: #b71824;display: none">Por favor, seleccione un elemento</h4>
    <h4 id="errorNoInput" style="color: #b71824;display: none">Por favor, ingrese un ID</h4>

    <button id="accionEliminar" class="btn btn-outline-dark btn-lg" style="display:none;margin-top: 10px">Eliminar
    </button>

    <br/>
    <div id="TurnosDatablock" style="margin-top: 10px;margin-bottom: 50px">
        <table class="table" id="TurnosDatatable" style="cursor: pointer">
            <thead class="thead-dark" align="center">
            <tr>
                <th style="width: 5%">Id</th>
                <th style="width: 15%">Animal</th>
                <th style="width: 15%">Nombre Mascota</th>
                <th style="width: 15%">Nombre Dueño</th>
                <th style="width: 15%">Numero Contacto</th>
                <th style="width: 20%">Fecha</th>
                <th style="width: 15%">Veterinario</th>
            </tr>
            </thead>
            <tbody align="center" style="cursor: pointer">
            <tr th:each="turno : ${turnos}">
                <td th:text="${turno.id}">Id</td>
                <td th:text="${turno.animal}">Animal</td>
                <td th:text="${turno.nombreMascota}">Nombre Mascota</td>
                <td th:text="${turno.nombreDuenio}">Nombre Dueño</td>
                <td th:text="${turno.numeroContacto}">Numero Contacto</td>
                <td th:text="${turno.fecha}">Fecha</td>
                <td th:text="${turno.veterinario}">Veterinario</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

<script src="jquery/turno.js"></script>
<script src="jquery/managerBotones.js"></script>
</body>
</html>