<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion De Datos</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container" align="center" style="margin-top: 20px">
    <h1 style="margin-top: 10px">Sistema Veterinaria</h1>
    <h2>Usuarios</h2>
    <br/>
    <br/>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraTabla">Consultar Usuario</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraIngreso">Ingresar Usuario</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraEditar">Editar<br>Usuario</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraEliminar">Eliminar Usuario</button>

    <br/>

    <div id="error" style="display:none" class="alert alert-danger">
        Parametros incorrectos.
    </div>

    <h4 id="eliminarLabel" style="display:none;margin-top: 10px">Seleccione dato a eliminar</h4>

    <div id="ingresarDiv" style="display:none;margin-top: 15px">
        <h3>Ingresar nuevo Usuario</h3>
        <form th:object="${UsuarioForm}" th:action="@{/api/v1/usuarios}" method="POST">
            <div class="input-group mb-3" style="width: 90%;margin-top: 15px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="tipoLabel" style="width: 120px">Tipo</span>
                        <select class="custom-select" id="tipo" name="tipo">
                            <option th:value="ADMINISTRADOR" th:text="Administrador"></option>
                            <option th:value="RECEPCIONISTA" th:text="Recepcionista"></option>
                        </select>
                </div>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="usuarioLabel" style="width: 120px">Usuario</span>
                </div>
                <input style="width: 200px" type="text" class="form-control" aria-label="Default" aria-describedby="usuarioLabel"
                       id="usuario" name="usuario">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="passwordLabel" style="width: 120px">Contraseña</span>
                </div>
                <input style="width: 200px" type="text" class="form-control" aria-label="Default" aria-describedby="passwordLabel"
                       id="password" name="password">
                <span style="width: 20px"></span>
            </div>
            <input class="btn btn-outline-dark btn-lg" type="submit" value="Ingresar"/>
        </form>
    </div>

    <div id="editarDiv" style="display:none">
        <h3>Editar un Usuario</h3>
        <h4 style="margin-top: 10px">Seleccione Usuario a Editar</h4>
        <form th:object="${UsuarioForm}" >
            <div class="input-group mb-3" style="width: 90%;margin-top: 15px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="tipoEditLabel" style="width: 120px">Tipo</span>
                    <select class="custom-select" id="tipoEdit" name="tipo">
                        <option th:each="catOpt : ${T(com.jpulido.veterinaria.modelo.dao.enums.TipoUsuario).values()}"
                                th:value="${catOpt}" th:text="${catOpt}"></option>
                    </select>
                </div>

                <span style="width: 20px"></span>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="usuarioEditLabel" style="width: 120px">Usuario</span>
                </div>
                <input style="width: 200px" type="text" class="form-control" aria-label="Default" aria-describedby="usuarioLabel"
                       id="usuarioEdit" name="usuario">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="passwordEditLabel" style="width: 120px">Contraseña</span>
                </div>
                <input style="width: 200px" type="text" class="form-control" aria-label="Default" aria-describedby="passwordLabel"
                       id="passwordEdit" name="password">
                <span style="width: 20px"></span>
            </div>
        </form>
        <button id="accionEditar" class="btn btn-outline-dark btn-lg" style="margin-top: 10px">Editar
        </button>
    </div>

    <div id="consultarDiv" style="display:none">
        <h4 style="margin-top: 15px">Ingrese ID</h4>
        <form>
            <div class="input-group mb-3" style="width: 20%">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Search" id="searchId"
                       name="searchId" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="buscarUsuarioById()">Buscar</button>
                </div>
            </div>
            <div style="margin-top: 15px" id="resultsBlock">

            </div>
        </form>
    </div>

    <h4 id="errorNoSeleccion" style="color: #b71824;display: none">Por favor, seleccione un elemento</h4>
    <h4 id="errorNoInput" style="color: #b71824;display: none">Por favor, ingrese un ID</h4>
    <button id="accionEliminar" class="btn btn-outline-dark btn-lg" style="display:none;margin-top: 10px">Eliminar
    </button>

    <br/>
    <div id="UsuariosDatablock" style="margin-top: 10px;margin-bottom: 50px">
        <table class="table" id="UsuariosDatatable" style="cursor: pointer">
            <thead class="thead-dark" align="center">
            <tr>
                <th style="width: 10%">Usuario</th>
                <th style="width: 33.33%">Password</th>
                <th style="width: 33.33%">Tipo/Rol</th>
                <th style="display: none;">
            </tr>
            </thead>
            <tbody align="center" style="cursor: pointer">
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.usuario}">Usuario</td>
                <td th:text="${usuario.password}">Password</td>
                <td th:text="${usuario.tipo}">Tipo</td>
                <td style="display: none" th:text="${usuario.roles}">Roles</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

<script src="jquery/usuario.js"></script>
<script src="jquery/managerBotones.js"></script>
</body>
</html>