<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion De Datos</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container" align="center" style="margin-top: 20px">
    <h1 style="margin-top: 10px">Sistema Veterinaria</h1>
    <h2>Ventas</h2>
    <br/>
    <br/>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraIngreso">Ingresar Venta</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraEliminar">Eliminar Venta</button>

    <br/>

    <h4 id="eliminarLabel" style="display:none;margin-top: 10px">Seleccione dato a eliminar</h4>

    <div id="ingresarDiv" style="display:none;margin-top: 15px">
        <h3>Ingresar nueva Venta</h3>
        <form th:object="${VentaForm}" th:action="@{/api/v1/ventas}" method="POST">
            <div class="input-group mb-3" style="width: 40%;margin-top: 15px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="porductoLabel" style="width: 100px">Producto</span>
                </div>
                <select class="custom-select" id="productoId" name="productoId">
                    <option selected>Elegir</option>
                    <option style="background: white"
                            th:each="producto : ${productos}"
                            th:value="${producto.id}"
                            th:text="${producto.descripcion}"></option>
                </select>
            </div>
            <input class="btn btn-outline-dark btn-lg" type="submit" value="Ingresar"/>
        </form>
    </div>

    <h4 id="errorNoSeleccion" style="color: #b71824;display: none">Por favor, seleccione un elemento</h4>
    <button id="accionEliminar" class="btn btn-outline-dark btn-lg" style="display:none;margin-top: 10px">Eliminar
    </button>

    <br/>
    <div id="VentasDatablock" style="margin-top: 10px;margin-bottom: 50px">
        <table class="table" id="VentasDatatable" style="cursor: pointer">
            <thead class="thead-dark" align="center">
            <tr>
                <th style="width: 10%">Id</th>
                <th style="width: 33.33%">Producto</th>
            </tr>
            </thead>
            <tbody align="center" style="cursor: pointer">
            <tr th:each="venta : ${ventas}">
                <td th:text="${venta.id}">Id</td>
                <td th:text="${venta.producto}">Producto</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

<script src="jquery/venta.js"></script>
<script src="jquery/managerBotones.js"></script>
</body>
</html>