<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion De Datos</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container" align="center" style="margin-top: 20px">
    <h1 style="margin-top: 10px">Sistema Veterinaria</h1>
    <h2>Veterinarios</h2>
    <br/>
    <br/>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraTabla">Consultar Veterinario</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraIngreso">Ingresar Veterinario</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraEditar">Editar  Veterinario</button>
    <button style="width: 15%" class="btn btn-outline-dark btn-lg" id="muestraEliminar">Eliminar Veterinario</button>

    <br/>

    <h4 id="eliminarLabel" style="display:none;margin-top: 10px">Seleccione Veterinario a eliminar</h4>

    <div id="ingresarDiv" style="display:none;margin-top: 15px">
        <h3>Ingresar nuevo Veterinario</h3>
        <form th:object="${VeterinarioForm}">
            <div class="input-group mb-3" style="width: 90%;margin-top: 15px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="usuarioLabel" style="width: 120px">Usuario</span>
                </div>
                <input style="width: 200px" type="text" class="form-control" aria-label="Default" aria-describedby="usuarioLabel"
                       id="usuario" name="usuario">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="passwordLabel" style="width: 120px">Contraseña</span>
                </div>
                <input style="width: 200px" type="text" class="form-control" aria-label="Default" aria-describedby="passwordLabel"
                       id="password" name="password">
                <span style="width: 20px"></span>
            </div>

            <div class="input-group-prepend">
                <span class="input-group-text" id="especialidadLabel" style="alignment: left; width: 140px">Especialidades</span>
                <div style="alignment: left" th:each="catOpt : ${T(com.jpulido.veterinaria.modelo.dao.enums.Animal).values()}">
                    <span style="padding-left: 20px">
                        <input type="checkbox" th:id="${{catOpt}}" th:value="${{catOpt}}" />
                        <label th:for="${{catOpt}}" th:text="${catOpt}"></label>
                    </span>
                </div>
            </div>
            <br>
            <div class="input-group-prepend">
                <span class="input-group-text" id="diasLabel" style="alignment: left; width: 60px">Dias</span>
                <div style="alignment: left" th:each="catOpt : ${T(com.jpulido.veterinaria.modelo.dao.enums.Dia).values()}">
                    <span style="padding-left: 20px">
                        <input type="checkbox" th:id="${{catOpt}}" th:value="${{catOpt}}" />
                        <label th:for="${{catOpt}}" th:text="${catOpt}"></label>
                    </span>
                </div>
            </div>
        </form>
        <button id="accionIngresar" class="btn btn-outline-dark btn-lg" style="margin-top: 10px">Ingresar</button>
    </div>

    <div id="editarDiv" style="display:none">
        <h3>Editar un Veterinario</h3>
        <h4 style="margin-top: 10px">Seleccione Veterinario a Editar</h4>
        <form th:object="${VeterinarioForm}" >
            <div class="input-group mb-3" style="width: 90%;margin-top: 15px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="usuarioEditLabel" style="width: 120px">Usuario</span>
                </div>
                <input style="width: 35%" type="text" class="form-control" aria-label="Default" aria-describedby="usuarioLabel"
                       id="usuarioEdit" name="usuario">
                <span style="width: 20px"></span>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="passwordEditLabel" style="width: 120px" hidden="true" >Contraseña</span>
                </div>
                <input style="width: 35%" type="text" class="form-control" aria-label="Default" aria-describedby="passwordLabel"
                       id="passwordEdit" name="password" hidden="true" >
                <span style="width: 20px"></span>

            </div>
            <div class="input-group-prepend">
                <span class="input-group-text" id="especialidadEditLabel" style="alignment: left; width: 140px">Especialidades</span>
                <div style="alignment: left" th:each="catOpt : ${T(com.jpulido.veterinaria.modelo.dao.enums.Animal).values()}">
                    <span style="padding-left: 20px">
                        <input type="checkbox" th:id="${{catOpt}} + 'Edit'" th:value="${{catOpt}}" />
                        <label th:for="${{catOpt}} + 'Edit'" th:text="${catOpt}"></label>
                    </span>
                </div>
            </div>
            <br>
            <div class="input-group-prepend">
                <span class="input-group-text" id="diasEditLabel" style="alignment: left; width: 60px">Dias</span>
                <div style="alignment: left" th:each="catOpt : ${T(com.jpulido.veterinaria.modelo.dao.enums.Dia).values()}">
                    <span style="padding-left: 20px">
                        <input type="checkbox" th:id="${{catOpt}} + 'Edit'" th:value="${{catOpt}}" />
                        <label th:for="${{catOpt}} + 'Edit'" th:text="${catOpt}"></label>
                    </span>
                </div>
            </div>
        </form>
        <button id="accionEditar" class="btn btn-outline-dark btn-lg" style="margin-top: 10px">Editar</button>
    </div>

    <div id="consultarDiv" style="display:none">
        <h4 style="margin-top: 15px">Ingrese ID</h4>
        <form>
            <div class="input-group mb-3" style="width: 20%">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Search" id="searchId"
                       name="searchId" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="buscarVeterinarioById()">Buscar</button>
                </div>
            </div>
            <div style="margin-top: 15px" id="resultsBlock">

            </div>
        </form>
    </div>

    <h4 id="errorNoSeleccion" style="color: #b71824;display: none">Por favor, seleccione un elemento</h4>
    <h4 id="errorNoInput" style="color: #b71824;display: none">Por favor, ingrese un ID</h4>
    <button id="accionEliminar" class="btn btn-outline-dark btn-lg" style="display:none;margin-top: 10px">Eliminar
    </button>

    <br/>
    <div id="VeterinariosDatablock" style="margin-top: 10px;margin-bottom: 50px">
        <table class="table" id="VeterinariosDatatable" style="cursor: pointer">
            <thead class="thead-dark" align="center">
            <tr>
                <th style="width: 10%">Usuario</th>
<!--                <th style="width: 33.33%">Password</th>-->
                <th style="width: 33.33%">Dias Atiende</th>
                <th style="width: 33.33%">Especialidades</th>
            </tr>
            </thead>
            <tbody align="center" style="cursor: pointer">
            <tr th:each="veterinario : ${veterinarios}">
                <td th:text="${veterinario.usuario}">veterinario</td>
<!--                <td th:text="${veterinario.password}">Password</td>-->
                <td th:text="${veterinario.dias}">Dias</td>
                <td th:text="${veterinario.especialidades}">Especialidades</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

<script src="jquery/veterinario.js"></script>
<script src="jquery/managerBotones.js"></script>
</body>
</html>






