<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>

<body>

<div th:fragment="resultsList" id="results-block">
    <h4 th:if="${#lists.isEmpty(productos)}">Id no encontrado</h4>
    <div  th:unless="${#lists.isEmpty(productos)}" class="card" style="width: 45rem;" align="center">
        <div class="card-body" align="center">
            <h5 class="card-title">Resultado:</h5>
            <table class="table">
                <thead class="thead-dark" align="center">
                <tr>
                    <th style="width: 10%">Id</th>
                    <th style="width: 33.33%">Categoria</th>
                    <th style="width: 33.33%">Descripcion</th>
                    <th style="width: 33.33%">Precio</th>
                </tr>
                </thead>
                <tbody align="center" style="cursor: pointer">
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.id}">Id</td>
                    <td th:text="${producto.categoria}">Categoria</td>
                    <td th:text="${producto.descripcion}">Descripcion</td>
                    <td th:text="${producto.precio}">Precio</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>