<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>

<body>

<div th:fragment="resultsList" id="results-block">
    <h4 th:if="${#lists.isEmpty(usuarios)}">Id no encontrado</h4>
    <div  th:unless="${#lists.isEmpty(usuarios)}" class="card" style="width: 45rem;" align="center">
        <div class="card-body" align="center">
            <h5 class="card-title">Resultado:</h5>
            <table class="table">
                <thead class="thead-dark" align="center">
                <tr>
                    <th style="width: 10%">Usuario</th>
                    <th style="width: 33.33%">Password</th>
                    <th style="width: 33.33%">Tipo/Rol</th>
                </tr>
                </thead>
                <tbody align="center" style="cursor: pointer">
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.usuario}">Usuario</td>
                    <td th:text="${usuario.password}">Password</td>
                    <td th:text="${usuario.tipo}">Tipo</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>