<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>403 - Acceso Denegado</h1>
        <div th:inline="text">Usuario <span sec:authentication="name"></span> no tiene permisos para ingresar a esta opcion.</div>
        <div style="margin-top: 20px;">
        <a  class="btn btn-lg btn-outline-dark" th:href="@{/home}" >Volver</a>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>