<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Proyecto Final Programacion II</h1>
        <h2>Alumno: Julieta Pulido Bolletti</h2>
        <h2>Profesor: Diego Corsi <br></h2>
        <h2> Consigna: TP Veterinaria con 2 frameworks</h2>
        <h3>Una veterinaria quiere implementar un sistema para administrar los turnos
            y ventas. Para ello el sistema cuenta con tres tipos de usuarios: administrador, veterinario y recepcionista. Cada usuario debe tener nombre de usuario y contraseña
            para ingresar al sistema.<br>
            El sistema debe tener en cuenta los siguientes aspectos:<br>
            - Lo usuarios y los productos son cargados por el administrador.<br>
            - Los productos están caracterizados por una descripción (alimento balanceado,
            antipulgas, etc.) y un precio. Además de estar categorizados en regulares y
            medicamentos.<br>
            - Los veterinarios atienden diferentes tipos de animales que forman parte de
            su especialidad: gato, perro, tortuga y/o canario. Solo concurren 3 días a la
            semana en la franja de lunes a sábado.<br>
            - Los turnos son asignables a los veterinarios desde las 9hs hasta las 18hs en
            intervalos de 30 minutos y con un receso de 12hs a 13.30hs. Siendo importante
            de que tipo de animal se trata, nombre de la mascota, nombre del dueño y número de contacto. Un veterinario solo puede atender al animal si este aparece
            dentro de sus especialidades.<br>
            - Los recepcionistas se encargan de otorgar los turnos y vender productos siempre y cuando estos no sean medicamentos.<br>
            - Los veterinarios pueden vender cualquier tipo de productos.</h3>
        <div style="margin-top: 20px;">
            <a  class="btn btn-lg btn-outline-dark" th:href="@{/home}" >Volver</a>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>