<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Inicio</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container" align="center" style="margin-top: 20px">
    <h1 style="margin-top: 10px">Sistema Veterinaria</h1>
    <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                <a class="btn btn-outline-dark btn-lg" style="width:200px" th:href="@{/api/v1/usuarios}">Usuarios</a>
                <span/>
                <a class="btn btn-outline-dark btn-lg" style="width:200px" th:href="@{/api/v1/veterinarios}">Veterinarios</a>
                <span/>
                <a class="btn btn-outline-dark btn-lg" style="width:200px" th:href="@{/api/v1/productos}">Productos</a>
            </div>
            <div sec:authorize="hasRole('ROLE_RECEPCIONISTA')">
                <a class="btn btn-outline-dark btn-lg" style="width:200px" th:href="@{/api/v1/ventas}">Ventas</a>
                <span/>
                <a class="btn btn-outline-dark btn-lg" style="width:200px" th:href="@{/api/v1/turnos}">Turnos</a>
            </div>
            <div sec:authorize="hasRole('ROLE_VETERINARIO')">
                <a class="btn btn-outline-dark btn-lg" style="width:200px" th:href="@{/api/v1/ventas}">Ventas</a>
            </div>
    </div>
    <br>

    <div th:if="${param.logout}">
        <div class="container">
            <div class="row justify-content-center">
                    <div class="alert alert-info">
                        Ud. ha cerrado sesion.
                    </div>
            </div>
        </div>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <div class="card" style="margin-top:20px;width: 30rem;">
            <div class="col-xs-14 col-sm-10 col-md-8">
                <form th:action="@{/login}" method="post">
                    <fieldset>
                        <div class="container" align="center">
                            <h1 class="card-title" style="margin-top:10px">Iniciar Sesion</h1>
                            <div class="card-body">
                                <div th:if="${param.error}">
                                    <div class="alert alert-danger">
                                        Usuario y/o contraseña incorrectos.
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="username" id="username" class="form-control input-lg"
                                           placeholder="Usuario" required="true" autofocus="true"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-lg"
                                           placeholder="Contraseña" required="true"/>
                                </div>

                                <div class="container" align="center" style="margin-top: 10px">
                                    <input type="submit" class="btn btn-outline-dark btn-lg" value="Ingresar"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>